<div class="container d-flex h-100">
  <div class="row align-self-center w-100">
    <div class="col-6 mx-auto">
      <div class="jumbotron" style="background:#fff;">
        <a href="#"><img src="../../assets/images/logo.png" class="img-responsive d-block mx-auto" alt="logo"/></a>
        <br>
        <h1 class="text-center">404 !</h1>
        <p class="text-center">Page Not Found.</p>
        <br>
        <p class="text-center small" style="width:70%; margin:auto;">The page you are looking for either doesn't exists or an another error occured. Go back to <a href="#">HelpNow.com</a></p>
      </div>

    </div>
  </div>
</div>
