<div class="container d-flex h-100">
  <div class="row align-self-center w-100">
    <div class="col-6 mx-auto">
      <div class="jumbotron" style="background:#fff;">
        <img src="../../assets/images/logo.png" class="img-responsive d-block mx-auto" />
        <br>
        <p class="text-center">Reset Your Password</p>
        <app-error-handler *ngIf="errFlg" [errString]="errString"></app-error-handler>
        <app-success-handler *ngIf="successFlg" [successString]="successString"></app-success-handler>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="submitResetPassword()">
          <div class="row">
            <div class="col">
              <input type="password" class="form-control c-box" formControlName="password" placeholder="Password" required [ngClass]="{'error-tb': resetPasswordForm.controls['password'].invalid && (resetPasswordForm.controls['password'].dirty || resetPasswordForm.controls['password'].touched)}">
              <div *ngIf="resetPasswordForm.controls['password'].invalid && (resetPasswordForm.controls['password'].dirty || resetPasswordForm.controls['password'].touched)" class="error-msg">
                <div *ngIf="resetPasswordForm.controls['password'].errors.required">Password is required.</div>
                <div *ngIf="resetPasswordForm.controls['password'].errors.minlength">Password should be at least 8 digit long.</div>
              </div>
            </div>
            <div class="col">
              <input type="password" class="form-control c-box" formControlName="confirm_password" placeholder="Confirm Password" required [ngClass]="{'error-tb': resetPasswordForm.controls['confirm_password'].invalid && (resetPasswordForm.controls['confirm_password'].dirty || resetPasswordForm.controls['confirm_password'].touched)}">
              <div *ngIf="resetPasswordForm.controls['confirm_password'].invalid && (resetPasswordForm.controls['confirm_password'].dirty || resetPasswordForm.controls['confirm_password'].touched)" class="error-msg">
                <div *ngIf="resetPasswordForm.controls['confirm_password'].errors.required">Confirm Password is required.</div>
                <div *ngIf="resetPasswordForm.controls['confirm_password'].errors.minlength">Confirm Password should be at least 8 digit long.</div>
                <div *ngIf="resetPasswordForm.controls['password'].value !== resetPasswordForm.controls['confirm_password'].value">Password and confirm password did not match.</div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="row">
            <div class="col-12">
              <br><br>
              <button class="btn blue-btn btn-block" [disabled]="!resetPasswordForm.valid">Reset Password</button>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>
