<header>
  <div class="container">
    <div class="top-menu">
      <div class="col-logo"> <a href="index.html"><img src="../../assets/images/logo.png" alt="Help now" title="Help now"></a> </div>
      <div class="callnow mob-view mt-4"> <a href="#"><i class="fa fa-phone" aria-hidden="true"></i> Call 1-800-HELPNOW</a> </div>
      <div class="col-menu">
        <div class="menu-cont">
          <div class="menu-content overlay close">
            <nav class="menu">
              <ul>
                <li class="menu__item"> <a href="index.html" class="menu__link">Home</a> </li>
                <li class="menu__item to-left"> <a href="#" class="menu__link">Provider</a>
                  <ul class="menu__sub-menu">
                    <li class="menu__sub-menu__item"> <a href="#" class="menu__sub-menu__link">Why join</a> </li>
                    <li class="menu__sub-menu__item"> <a href="#" class="menu__sub-menu__link">How it works</a> </li>
                    <!-- <li class="menu__sub-menu__item to-left"> <a href="" class="menu__sub-menu__link">Leads</a>

                      <ul class="menu__sub-menu">
                          <li class="menu__sub-menu__item">
                              <a href="" class="menu__sub-menu__link">Submenu link 1</a>
                          </li>

                          <li class="menu__sub-menu__item">
                              <a href="" class="menu__sub-menu__link">Submenu link 2</a>
                          </li>

                          <li class="menu__sub-menu__item">
                              <a href="" class="menu__sub-menu__link">Submenu link 3</a>
                              <ul class="menu__sub-menu">
                                  <li class="menu__sub-menu__item">
                                      <a href="" class="menu__sub-menu__link">Submenu link 1</a>
                                  </li>

                                  <li class="menu__sub-menu__item">
                                      <a href="" class="menu__sub-menu__link">Submenu link 2</a>
                                  </li>
                              </ul>
                          </li>

                          <li class="menu__sub-menu__item">
                              <a href="" class="menu__sub-menu__link">Submenu link 4</a>
                          </li>
                      </ul>
                    </li>-->
                    <li class="menu__sub-menu__item"> <a href="#" class="menu__sub-menu__link">Availability</a> </li>
                    <li class="menu__sub-menu__item"> <a href="#" class="menu__sub-menu__link">Help</a> </li>
                    <li class="menu__sub-menu__item"> <a href="#" class="menu__sub-menu__link">Workspace</a> </li>
                    <li class="menu__sub-menu__item"> <a href="#" class="menu__sub-menu__link">Rewards</a> </li>
                    <li class="menu__sub-menu__item"> <a href="profile-technician.html" class="menu__sub-menu__link">Profile</a> </li>
                  </ul>
                </li>
                <li class="menu__item to-left"> <a href="#" class="menu__link">Customer</a>
                  <ul class="menu__sub-menu">
                    <li class="menu__sub-menu__item"> <a href="#" class="menu__sub-menu__link">Why join</a> </li>
                    <li class="menu__sub-menu__item"> <a href="#" class="menu__sub-menu__link">How it works</a> </li>
                    <!--<li class="menu__sub-menu__item"> <a href="#" class="menu__sub-menu__link">Estimator</a> </li>-->
                    <li class="menu__sub-menu__item"> <a href="#" class="menu__sub-menu__link">Availability</a> </li>
                    <li class="menu__sub-menu__item"> <a href="#" class="menu__sub-menu__link">Help</a> </li>
                    <li class="menu__sub-menu__item"> <a href="profile-activity.html" class="menu__sub-menu__link">Activity</a> </li>
                    <li class="menu__sub-menu__item"> <a href="#" class="menu__sub-menu__link">Rewards</a> </li>
                    <li class="menu__sub-menu__item"> <a href="profile.html" class="menu__sub-menu__link">Profile</a> </li>
                  </ul>
                </li>
                <li class="menu__item to-left"> <a href="#" class="menu__link">Feedback</a>
                  <!--<ul class="menu__sub-menu">
                    <li class="menu__sub-menu__item"> <a href="" class="menu__sub-menu__link">Feedback</a> </li>
                  </ul>-->
                </li>
                <li class="menu__item signup-cont" style="margin-right:0;"> <i class="fa fa-user-o" aria-hidden="true"></i> <a href="#" class="menu__link pright-0" data-toggle="modal" data-target="#signin"> Signin</a>
                  <p>or</p>
                  <a href="#" class="menu__link pright-0" data-toggle="modal" data-target="#register"> Register</a> </li>
                <div class="clearfix"></div>
              </ul>
            </nav>
          </div>
          <div class="page-content">
            <div id="nav-icon" class="menu-button visible-xs"> <span class="burger-icon"></span> </div>
          </div>
        </div>
        <div class="callnow web-view"> <a href="#"><i class="fa fa-phone" aria-hidden="true"></i> Call 1-800-HELPNOW</a> </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</header>
