<section class="search-bg cavail">
<app-header></app-header>
  <div class="clearfix"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-rating p-rating">
          <div class="pest-control-box">
            <ul class="profile-rating">
              <li>
                <p>Points <span>5,325</span></p>
              </li>
              <li>
                <p>Since <span>May 9, 2018</span></p>
              </li>
              <li>
                <p>Avg Rating <span><img src="../../assets/images/star.png" alt="" /></span></p>
              </li>
              <!--<li>
                <p>Avatar <span><img src="images/avatar.png" alt="" /></span></p>
              </li>-->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="alert alert-danger profile-verify" *ngIf="showProfileVerification">
      Your profile is not verified yet. Please verify your profile.
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="profile-con">
          <div class="profile-pic"><img src="../../assets/images/profile-pic.png" alt="" />
            <!--<div class="browse-btn">
       <span class="btn-file">
    <i class="fa fa-pencil" aria-hidden="true"></i> <input type="file">
</span>


       </div>-->

            <div class="upload-btn-wrapper"> <i class="fa fa-pencil" aria-hidden="true"></i>
              <input type="file" name="myfile" />
            </div>
          </div>
          <h2>Customer Profile</h2>
        </div>
      </div>
      <!--<div class="col-md-7">
        <div class="pest-control-box">
          <ul class="profile-rating">
            <li>
              <p>Points <span>5,325</span></p>
            </li>
            <li>
              <p>Since <span>May 9, 2018</span></p>
            </li>
            <li>
              <p>Avg Rating <span><img src="images/star.png" alt="" /></span></p>
            </li>
            <li>
              <p>Avatar <span><img src="images/avatar.png" alt="" /></span></p>
            </li>
          </ul>
        </div>
      </div>-->
      <div class="clearfix"></div>
    </div>
    <div role="tabpanel" class="profile-tab">
      <ul class="nav nav-tabs f-none nav-justified nav-tabs-dropdown tab-menu p-tab-cuctom" role="tablist">
        <li role="presentation"> <a href="#personal" class="active" aria-controls="personal" role="tab" data-toggle="tab">Personal</a> </li>
        <li role="presentation"> <a href="#professional" class="" aria-controls="professional" role="tab" data-toggle="tab">Professional</a> </li>
        <li role="presentation"> <a href="#account" class="" aria-controls="account" role="tab" data-toggle="tab">Account</a> </li>
        <!-- <li role="presentation">
                  <a href="#activity" aria-controls="activity" role="tab" data-toggle="tab">Activity</a>
                  </li>-->

      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="personal">
          <div class="row">
            <div class="col-md-4">
              <div class="form-inner">
                <div class="f-name">Name</div>
                <div class="form-field">
                  <input type="text" class="form-control" placeholder="First">
                  <input type="text" class="form-control" placeholder="Middle">
                  <input type="text" class="form-control" placeholder="Last">
                </div>
              </div>
              <div class="form-inner">
                <div class="f-name">Contact</div>
                <div class="form-field">
                  <input type="text" class="form-control" placeholder="Mobile Phone*">
                  <input type="text" class="form-control" placeholder="Email*">
                </div>
              </div>
              <div class="form-inner">
                <div class="f-name">Address</div>
                <div class="form-field drop-d">
                  <input type="text" class="form-control" placeholder="Street*">
                  <input type="text" class="form-control" placeholder="Apt/Ste/PO">
                  <input type="text" class="form-control" placeholder="City*">
                  <select class="form-control">
                    <option data-display="State">State</option>
                    <option value="1">Kolkata</option>
                    <option value="2">Delhi</option>
                  </select>
                  <input type="text" class="form-control" placeholder="Zip*">
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-inner">
                <div class="f-name">Demographics</div>
                <div class="form-field drop-d">
                  <select class="form-control">
                    <option data-display="Language">Language</option>
                    <option value="1">Hindi</option>
                    <option value="2">English</option>
                  </select>
                  <select class="form-control">
                    <option data-display="Gender">Gender</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                  </select>

                  <input type="text" class="datepicker calender-box form-control" value="Birthday" />


                  <!--<input type="text" class="form-control" placeholder="Birthdate">-->
                  <select class="form-control">
                    <option data-display="Ethnicity">Ethnicity</option>
                    <option value="1">OBC</option>
                    <option value="2">SC</option>
                  </select>
                  <select class="form-control">
                    <option data-display="Relationship">Relationship</option>
                    <option value="1">Married</option>
                    <option value="2">Father</option>
                  </select>
                  <select class="form-control">
                    <option data-display="Education">Education</option>
                    <option value="1">Masters</option>
                    <option value="2">M.Tech</option>
                  </select>
                  <input type="text" class="form-control" placeholder="Occupation">
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-inner">
                <div class="f-name">Payment</div>
                <div class="form-field">
                  <input type="text" class="form-control" placeholder="Debit/Credit">
                  <div class="position-relative">
                    <input type="text" class="form-control" placeholder="Account">
                    <span class="eye-icon"><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></span> </div>
                  <input type="text" class="form-control" placeholder="Expiration">
                  <input type="text" class="form-control" placeholder="Name on Card">
                  <input type="text" class="form-control" placeholder="Security Code">
                </div>
              </div>
              <div class="form-inner">
                <div class="f-name">Billing</div>
                <div class="form-field drop-d">
                  <input type="text" class="form-control" placeholder="Street*">
                  <input type="text" class="form-control" placeholder="Apt/Ste/PO">
                  <input type="text" class="form-control" placeholder="City*">
                  <select class="form-control">
                    <option data-display="State">State</option>
                    <option value="1">Kolkata</option>
                    <option value="2">Delhi</option>
                  </select>
                  <input type="text" class="form-control" placeholder="Zip*">
                </div>
              </div>
              <div class="form-inner">
                <div class="f-name">Paypal</div>
                <div class="form-field">
                  <input type="text" class="form-control" placeholder="Account">
                </div>
              </div>
              <div class="form-inner">
                <div class="f-name">Venmo</div>
                <div class="form-field">
                  <input type="text" class="form-control" placeholder="Account">
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="professional">
          <div class="row">
            <div class="col-md-4">
              <div class="form-inner">
                <div class="f-name">Group</div>
                <div class="form-field">
                  <input type="text" class="form-control" placeholder="Name">
                  <input type="text" class="form-control" placeholder="Title">
                </div>
              </div>
              <div class="form-inner">
                <div class="f-name">Contact</div>
                <div class="form-field">
                  <input type="text" class="form-control" placeholder="Work Phone*">
                  <input type="text" class="form-control" placeholder="Email*">
                </div>
              </div>
              <div class="form-inner">
                <div class="f-name">Address</div>
                <div class="form-field drop-d">
                  <input type="text" class="form-control" placeholder="Street*">
                  <input type="text" class="form-control" placeholder="Bldg/Ste/PO">
                  <input type="text" class="form-control" placeholder="City*">
                  <select class="form-control">
                    <option data-display="State">State</option>
                    <option value="1">Kolkata</option>
                    <option value="2">Delhi</option>
                  </select>
                  <input type="text" class="form-control" placeholder="Zip*">
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-inner">
                <div class="f-name">Payment</div>
                <div class="form-field">
                  <input type="text" class="form-control" placeholder="Debit/Credit">
                  <div class="position-relative">
                    <input type="text" class="form-control" placeholder="Account">
                    <span class="eye-icon"><i class="fa fa-eye" aria-hidden="true"></i></span> </div>
                  <input type="text" class="form-control" placeholder="Expiration">
                  <input type="text" class="form-control" placeholder="Name on Card">
                  <input type="text" class="form-control" placeholder="Security Code">
                </div>
              </div>
              <div class="form-inner">
                <div class="f-name">Billing</div>
                <div class="form-field drop-d">
                  <input type="text" class="form-control" placeholder="Street*">
                  <input type="text" class="form-control" placeholder="Apt/Ste/PO">
                  <input type="text" class="form-control" placeholder="City*">
                  <select class="form-control">
                    <option data-display="State">State</option>
                    <option value="1">Kolkata</option>
                    <option value="2">Delhi</option>
                  </select>
                  <input type="text" class="form-control" placeholder="Zip*">
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-inner">
                <div class="f-name">Paypal</div>
                <div class="form-field">
                  <input type="text" class="form-control" placeholder="Account">
                </div>
              </div>
              <div class="form-inner">
                <div class="f-name">Venmo</div>
                <div class="form-field">
                  <input type="text" class="form-control" placeholder="Account">
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="account">
          <div class="row">
            <div class="col-md-4">
              <div class="form-inner">
                <div class="f-name">Customer</div>
                <div class="form-field drop-d">
                  <select class="form-control">
                    <option data-display="Customer Type">Customer Type</option>
                    <option value="1">Residential</option>
                    <option value="2">Commercial</option>
                  </select>
                </div>
              </div>
              <div class="form-inner">
                <div class="f-name">User</div>
                <div class="form-field">
                  <input type="text" class="form-control" placeholder="Username">
                  <div class="position-relative">
                    <input type="password" class="form-control" placeholder="Password">
                    <span class="eye-icon"><i class="fa fa-eye" aria-hidden="true"></i></span> </div>
                  <input type="text" class="form-control" placeholder="ID">
                </div>
              </div>
              <div class="form-inner">
                <div class="f-name">Service</div>
                <div class="radio-cont">
                  <div class="display-inline">
                    <p class="area-t">Plan</p>
                    <label class="container1 mr5">One-time
                      <input type="radio" checked="checked" name="radio">
                      <span class="checkmark"></span> </label>
                    <label class="container1">Recurring
                      <input type="radio" name="radio">
                      <span class="checkmark"></span> </label>
                  </div>
                </div>
                <!--<div class="form-field drop-d">
                  <select class="form-control">
                    <option data-display="Plan">Plan</option>
                    <option value="1">One-Time</option>
                    <option value="2">Recurring</option>
                  </select>
                </div>-->
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-inner">
                <div class="f-name">Settings</div>
                <div class="form-field drop-d">
                  <select class="form-control">
                    <option data-display="Language">Language</option>
                    <option value="1">Hindi</option>
                    <option value="2">English</option>
                  </select>
                </div>
              </div>
              <div class="form-inner">
                <div class="f-name noti-t">Notifications</div>
                <div class="form-field">
                  <div class="checkbox-con">
                    <label class="custom-check checkbox2">Text
                      <input type="checkbox">
                      <span class="checkmark3"></span> </label>
                    <label class="custom-check checkbox2">Email
                      <input type="checkbox">
                      <span class="checkmark3"></span> </label>
                    <label class="custom-check checkbox2">Social
                      <input type="checkbox">
                      <span class="checkmark3"></span> </label>
                    <label class="custom-check checkbox2">Phone
                      <input type="checkbox">
                      <span class="checkmark3"></span> </label>
                  </div>
                </div>
              </div>
              <div class="form-inner">
                <div class="f-name noti-t">Special Offers</div>
                <div class="form-field">
                  <div class="checkbox-con">
                    <label class="custom-check checkbox2">Text
                      <input type="checkbox">
                      <span class="checkmark3"></span> </label>
                    <label class="custom-check checkbox2">Email
                      <input type="checkbox">
                      <span class="checkmark3"></span> </label>
                    <label class="custom-check checkbox2">Social
                      <input type="checkbox">
                      <span class="checkmark3"></span> </label>
                    <label class="custom-check checkbox2">Phone
                      <input type="checkbox">
                      <span class="checkmark3"></span> </label>
                  </div>
                  <!--<select class="form-control">
                    <option data-display="Privacy">Privacy</option>
                    <option value="1">On</option>
                    <option value="2">Off</option>
                  </select>
                  <select class="form-control">
                    <option data-display="Posts">Posts</option>
                    <option value="1">On</option>
                    <option value="2">Off</option>
                  </select>
                  <select class="form-control">
                    <option data-display="Status">Status</option>
                    <option value="1">Active </option>
                    <option value="2">Inactive</option>
                    <option value="3">Closed</option>
                  </select>-->
                </div>
              </div>

              <div class="form-inner">
                <div class="f-name noti-t">Privacy</div>
                <div class="form-field">
                  <div class="checkbox-con drop-d">
                    <select class="form-control">
                      <!--<option data-display="Privacy">Privacy</option>-->
                      <option value="1">On</option>
                      <option value="2">Off</option>
                    </select>
                    <!--<select class="form-control">
                      <option data-display="Posts">Posts</option>
                      <option value="1">On</option>
                      <option value="2">Off</option>
                    </select>
                    <select class="form-control">
                      <option data-display="Status">Status</option>
                      <option value="1">Active </option>
                      <option value="2">Inactive</option>
                      <option value="3">Closed</option>
                    </select>-->
                  </div>
                </div>
              </div>

              <div class="form-inner">
                <div class="f-name noti-t">Posts</div>
                <div class="form-field">
                  <div class="checkbox-con drop-d">
                    <select class="form-control">
                      <!--<option data-display="Posts">Posts</option>-->
                      <option value="1">On</option>
                      <option value="2">Off</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-inner">
                <div class="f-name noti-t">Status</div>
                <div class="form-field">
                  <div class="checkbox-con drop-d">
                    <select class="form-control">
                      <!--<option data-display="Status">Status</option>-->
                      <option value="1">Active </option>
                      <option value="2">Inactive</option>
                      <option value="3">Closed</option>
                    </select>
                  </div>
                </div>
              </div>

            </div>
            <div class="clearfix"></div>
          </div>
          <div class="row">
            <div class="col-md-12">

              <div class="property-tablecon">
                <div class="property-t">Property</div>
                <div class="property-table">
                  <div class="availability-table mt0 property-table-scroll">
                    <table id="example" class="display" cellspacing="0" width="100%">
                      <thead>
                      <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Street</th>
                        <th>Street</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Zip</th>
                        <th>Area</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td><label class="custom-check checkbox2">
                          <input type="checkbox">
                          <span class="checkmark3 row-check"></span></label>
                          Home</td>
                        <td>Residential</td>
                        <td>25 Morningside</td>
                        <td>Apt A12</td>
                        <td>Salt Lake City</td>
                        <td>Utah (UT) </td>
                        <td>84151</td>
                        <td>3,450 sqft</td>
                      </tr>
                      <tr>
                        <td><label class="custom-check checkbox2">
                          <input type="checkbox">
                          <span class="checkmark3 row-check"></span></label>
                          Cabin</td>
                        <td>Residential</td>
                        <td>15 Marmalade</td>
                        <td>Apt A12</td>
                        <td>Bear Creek</td>
                        <td>Utah (UT) </td>
                        <td>84037</td>
                        <td>2,300 sqft</td>
                      </tr>
                      <tr>
                        <td><label class="custom-check checkbox2">
                          <input type="checkbox">
                          <span class="checkmark3 row-check"></span></label>
                          Rental</td>
                        <td>Residential</td>
                        <td>7 Brigham Lane</td>
                        <td>Apt A12</td>
                        <td>Holiday</td>
                        <td>Utah (UT) </td>
                        <td>84154</td>
                        <td>1,200 sqft</td>
                      </tr>
                      <tr>
                        <td><label class="custom-check checkbox2">
                          <input type="checkbox">
                          <span class="checkmark3 row-check"></span></label>
                          Rental</td>
                        <td>Commercial</td>
                        <td>126 Skyline</td>
                        <td>Apt D2</td>
                        <td>Holiday</td>
                        <td>Utah (UT) </td>
                        <td>84154</td>
                        <td>1,200 sqft</td>
                      </tr>
                      <tr>
                        <td><label class="custom-check checkbox2">
                          <input type="checkbox">
                          <span class="checkmark3 row-check"></span></label>
                          Warehouse</td>
                        <td>Industrial</td>
                        <td>14 Distribution</td>
                        <td>Apt C15</td>
                        <td>Saratoga</td>
                        <td>Utah (UT) </td>
                        <td>84150</td>
                        <td>30,500 sqft</td>
                      </tr>
                      </tbody>
                    </table>
                    <div class="plus-cont"> <a href="#"><img src="../../assets/images/add.png" alt="Add" title="Add" ></a> <a href="#"><img src="../../assets/images/trash.png" alt="Delete" title="Delete" ></a> </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-- <div role="tabpanel" class="tab-pane" id="activity">
                Activity
                </div>-->

      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
